<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Flowly</title>

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>


<header class="navbar">
    <div class="nav-left">
       <a href="/"><img src="{% static 'images/flowly_logo.png' %}" alt="Flowly Logo" class="logo"></a> 
    </div>

    <nav class="nav-right">
        <a href="appMode">App Modes</a>
        <a href="about_us" >About us</a>
        {% if user.is_authenticated %}
            
            <a href="logout">Log out</a>

            <a href="">Settings</a>

        {% else %}
            <a href="signin">Log in</a>
        {% endif %}
    </nav>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<main>
    {% block content %}
    {% endblock %}
</main>

{% block extra_js %}{% endblock %}

</body>
</html>



