body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #111827;
    color: #F9FAFB;
}


.navbar {
    background: linear-gradient(90deg, #1E3A8A, #1F2937);
    padding: 1rem 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.main-content {
    padding: 2rem;
}


