* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#2f5bbd,#0b1e3f);
    min-height: 100vh;
    color: white;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background-color: #142a57;
}

.logo {
    height: 60px;
}

.nav-right a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
